.likeImg {
    width: 138px;
    height: 138px;
}
.like-container {
    height: 28rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.like-container h2 {
    font-size: 24px;
    font-weight: 600;
    color: #1f2026;
}
.like-container p {
    font-size: 14px;
    font-weight: 400;
    color: #1f2026;
}
.like-container button {
    border: 0;
    background-color: #7000ff;
    color: white;
    font-size: 1;
    font-weight: 500;
    padding: 0.7rem 1rem ;
    border-radius: 0.5rem;
}