.container {
  max-width: 1200px !important;
}
.logo {
  width: 2rem;
}
.nav-bar {
  font-family: "Roboto", sans-serif;
}
.fs-14 {
  font-size: 14px;
}
.fs-11 {
  font-size: 11px;
}
.spacin-06 {
  letter-spacing: .006em;
}
.fw-600 {
  font-weight: 600;
}
.fs-13 {
  font-size: 13px;
}
.fs-16 {
  font-size: 16px;
}
.fw-400 {
  font-weight: 400;
}
.text-blue {
  color: #7000ff;
}
.text-dark {
  color: #000000;
}
.bg-blue {
  background-color: #7000ff;
}
.nav-text {
  color: #AAABA9;
  transition: all 0.3s linear;
}
.nav-text::after {
  content: "";
  position: absolute;
  background-color: #1F2026;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: all 0.3s linear;
}
.nav-text:hover {
  color: #1F2026;
}
.nav-text:hover::after {
  width: 100%;
}
.line {
  white-space: nowrap;
}
.pointer {
    cursor: pointer;
}
.fw-500 {
  font-weight: 500;
}
.list-none {
  list-style: none;
}